BASE_URL=https://api-totem.nexuspatiotech.com/api
BEARER_TOKEN=
ECOSYSTEM_BASE_URL=https://api-merchant.nexuspatiotech.com
ECOSYSTEM_BEARER_TOKEN=
MERCHANT_IDS=53
PRODUCT_ID=457969
BASE_URL_VPN=
PORT_VPN=5050
NAME_MESERO=Robot Mesero
QR_EXPIRATION_MINUTES=3
PRODUCT_POLLING_STALE_SECONDS=60
MAX_CART_ITEM_QUANTITY=10
CUSTOMER_SESSION_TIMEOUT_SECONDS=60
