BASE_URL=https://api-totem.nexuspatiotech.com/api
BEARER_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOjIwLCJlbWFpbCI6ImhlY3ZhbkBnbWFpbC5jb20iLCJyb2xlIjoic3VwZXItYWRtaW4iLCJ0eXBlIjoidXNlciIsImlhdCI6MTc4NTUzMDA2NCwiZXhwIjoxODE3MDY2MDY0fQ.pO_jWIuOz_ck5v14RjpRi822ORmegCpx_IdG0kt-ZUI
MERCHANT_IDS=53
PRODUCT_ID=457969
BASE_URL_VPN=100.99.244.72
PORT_VPN=5050
NAME_MESERO=Robot Mesero
QR_EXPIRATION_MINUTES=3
